<div style="position:fixed;bottom:0px;width:100%;z-index:10000;background-color:#eee;border-top: 1px solid #ccc">
    <ul style="text-align: center; line-height:30px;">

        <li style="list-style:none;margin: 0 5px;display:inline">
        	<a href="" style="font-size:38px;" data-ui-sref-active="active" data-ui-sref="cartola.home"><i class="tm-icon zmdi zmdi-home"></i>
        </li>
        <li style="list-style:none;margin: 0 5px;display:inline;">
    		<a href="" style="font-size:38px;" data-ui-sref-active="active" data-ui-sref="cartola.teams"><i class="tm-icon zmdi zmdi-star"></i>
        </li>
    </ul>    
</div>